@keyframes shine {
  0%,
  85.33% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shine {
  animation: shine 10s ease-in-out infinite;
}
